html {
    padding-block: 200px;
}

.container {
    /* background-color: yellow; */
    margin-top: 50px;
    height: 300vh;
    /* border: 1px solid orangered; */
}

.innercontainer {
    margin: 150px;
    border: 1px solid black;
    background-color: aqua;
}

.container > * {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: magenta;
}

.box4 {
    background-color: blue;
    position: sticky;
    top: 30px;

}

/* .box4 {
    background-color: chartreuse;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
} */