* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #607d8b;
}

.container {
    position: relative;
    top: 50px;
}

.container img {
    width: 600px;
}

.vapour {
    position: absolute;
    top: 0;
    left: 170px;
    display: flex;
    z-index: 1;
    /* border: 1px solid red; */
    padding: 0 20px;
}

.vapour span {
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    animation: vapour 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--val) * -0.5s);
}

@keyframes vapour {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    50% {
        transform: translateY(-150px) scaleX(5);
    }

    95% {
        opacity: 0;
    }

    100% {
        transform: translateY(-300px) scaleX(10);
    }
}